export RPC=""

export ETHERSCAN_KEY=""

### Foundry profile, we always need to deploy with prod.
export FOUNDRY_PROFILE=prod

# -------------------------- NTT Contract --------------------------

### EVM Token Address
export RELEASE_TOKEN_ADDRESS=

### Mode (Locking == 0, Burning == 1)
export RELEASE_MODE=

### Rate Limit Duration (specified in seconds)
export RELEASE_RATE_LIMIT_DURATION=86400
export RELEASE_SKIP_RATE_LIMIT=false

### Rolling Window Max Outbound Transfer Limit. The default value is 0 here, this means
### that all outbound transfers will be queued by the rate limiter. This number should
### be scaled by the native token decimals. For example, if the native token has 18 decimals,
### and you want to set the max outbound limit to 1000 tokens, you should set this value to
### 1000000000000000000000.
export RELEASE_OUTBOUND_LIMIT=

# -------------------------- Wormhole --------------------------

### Wormhole Chain ID
export RELEASE_WORMHOLE_CHAIN_ID=

### Wormhole Core Bridge Address
export RELEASE_CORE_BRIDGE_ADDRESS=

### Wormhole Finality
export RELEASE_CONSISTENCY_LEVEL=202

# -------------------------- Relayer --------------------------

### Wormhole Relayer Address
export RELEASE_WORMHOLE_RELAYER_ADDRESS=

### Specialized Relayer Address
export RELEASE_SPECIAL_RELAYER_ADDRESS=0x0000000000000000000000000000000000000000

### Target Chain Gas Limit
export RELEASE_GAS_LIMIT=500000
