name: CLI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  test-evm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: docker build -f Dockerfile.cli --target cli-local-test . --progress=plain

  test-solana:
    runs-on: tilt-kube-public
    steps:
      - uses: actions/checkout@v3
      - run: docker build -f Dockerfile.cli --target cli-local-test-solana . --progress=plain
